snippet emr
import Route from 'ember-route';

export default Route.extend({
  $1
})
endsnippet

snippet emc
import Route from 'ember-route';

export default Route.extend({
  $1
})
endsnippet

snippet emm
import DS from 'ember-data';

export default DS.Model.extend({
});
endsnippet

snippet get
${1:this}.get('$2')$3
endsnippet

snippet set
${1:this}.get('$2', '$3')$4
endsnippet

snippet this._super
this._super(...arguments);
endsnippet
