snippet wtf
puts "################################################################################"
pp ${0:"#{__FILE__} : #{caller_line}"}
puts "################################################################################"
endsnippet
